<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>soar web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--js 库文件-->
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/director.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.all.js"></script>
    <script type="text/javascript" src="./js/vue.min.js"></script>
    <script type="text/javascript" src="./js/codemirror.js"></script>
    <script type="text/javascript" src="./js/sql.js"></script>
    <script type="text/javascript" src="./js/showdown.js"></script>
    <script type="text/javascript" src="./js/placeholder.js"></script>
    <!--css库文件-->
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/codemirror.css"/>
    <style>
      /*公共样式*/
      .w-100{width: 100px !important;}
      .w-150{width: 150px !important;}
      .w-200{width: 200px !important;}
      .ml-5{margin-left:5px !important;}
      .mr-5{margin-right:5px !important;}
      .ml-20{margin-left:20px !important;}
      .mt-20{margin-top:20px !important;}
      .mb-20{margin-bottom:20px !important;}
      .CodeMirror{height:100%; padding:10px;}
      .show-content{height:100%;border:1px solid #ddd;}
      .placegolder,pre.CodeMirror-placeholder{color: #999;}
      .placegolder{font-size:16px; font-family: monospace;display:inline-block;padding:4px 0px;}
      .ponter{cursor: pointer}
      [v-cloak]{display:none;}
      
      /*markdown 样式*/
      .show-markdown h1, .show-markdown h2, .show-markdown h3{margin-top:0px !important;margin-bottom:0px !important;}
      .show-markdown h2{font-size:20px !important;margin:30px 0px 20px 0px !important;padding-bottom: 5px;border-bottom: 1px solid #919699;}
      .show-markdown h1{font-size:24px !important;margin:20px 0px !important;}
      .show-markdown h3{font-size:16px !important;margin:16px 0px !important;}
      .show-markdown h4{font-size:14px !important;}
      .show-markdown p{margin-bottom: 10px !important;}
      
      .show-markdown h1,.show-markdown h2,.show-markdown h3,.show-markdown h4,.show-markdown h5,.show-markdown h6 {
        font-family: "Myriad Pro","Lucida Grande",Lucida,Verdana,sans-serif;
      }
      
      .show-markdown{overflow-x:auto;}
      .show-markdown table td, .show-markdown table th {font-size: 12px;border-bottom: 1px solid #919699;border-right: 1px solid #919699;}
      .show-markdown table{border-top: 1px solid #919699;border-left: 1px solid #919699;border-spacing: 0;width:800px;}
      .show-markdown table th {padding: 4px 8px;background: #E2E2E2;}
      .show-markdown table td {padding: 8px;vertical-align:top; word-break:break-word;}
      
    </style>
  </head>
  <body>
    <div style="width:1200px;margin:auto;" id="vue-app" v-cloak>
      <!--导航-->
      <header style="margin:20px 0px;">
        <ul class="nav nav-tabs">
          <li role="presentation" v-bind:class="{active:router=='/analysis'}"><a href="#/analysis">sql分析</a></li>
          <li role="presentation" v-bind:class="{active:router=='/config'}"><a href="#/config">soar配置</a></li>
        </ul>
      </header>
      <!--导航-->
      <!--sql 分析页面-->
      <div class="content" v-show="router=='/analysis'">
        <div class=" form-inline">
          <div class="form-group">
            <label>配置模板：</label>
            <select class="form-control w-200" v-model="curId">
              <option v-for="(item, index) in configs" v-bind:value="index">{{item.name}}</option>
            </select>
          </div>
          <!--sql 选项菜单-->
          <div class="form-group ml-20">
            <span class="btn btn-primary" v-on:click="sqlAnalysis(1)">SQL评估</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(2)">美化</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(3)">压缩</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(4)">指纹</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(5)">语法检查</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(6)">Alter合并</span>
            <!--<span class="btn btn-primary" v-on:click="sqlAnalysis(7)">EXP解析</span>-->
            <span class="btn btn-danger ml-20" v-on:click="clear()">清空</span>
            <div v-if="showExport" class="btn-group" v-bind:class="{open:openExport}" v-on:click="openExport=!openExport">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 导出 <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="javascript:;" v-on:click="exportSoar(1)">html</a></li>
                <li><a href="javascript:;" v-on:click="exportSoar(2)">markdown</a></li>
                <li><a href="javascript:;" v-on:click="exportSoar(3)">json</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="mt-20 container" v-bind:style="{height:editorHeight}" style="margin-left:0px;margin-right:0px;width: 100%;">
          <div class="row" style="height:100%;">
            <!--sql 语句输入-->
            <div class="col-md-5" style="padding-left:0px;height:100%;">
              <div class="show-content"><textarea placeholder="输入SQL语句 ..." id="sql-edit" style="display:none"></textarea></div>
            </div>
            <!--服务器返回展示-->
            <div class="col-md-7" style="padding-right:0px;height:100%;">
              <div class="show-content show-markdown" style="height:100%; padding:10px;" id="soar-content"><span class="placegolder">soar结果展示 ...</span></div>
            </div>
          </div>
        </div>
      </div>
      <!--sql 分析页面-->
      <!--soar 配置页面-->
      <div class="content" v-show="router=='/config'">
        <div class=" form-inline mb-20">
          <div class="form-group">
            <span class="btn btn-primary" v-on:click="soarEdit(-1)">添加配置</span>
            <span class="btn btn-primary" v-on:click="exportConfig()">导出配置</span>
            <span class="btn btn-primary" v-on:click="showImportConfig()">导入配置</span>
          </div>
        </div>
        <!--soar 配置列表-->
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center" width="18%">编号</th>
              <th class="text-center" width="18%">配置名称</th>
              <th class="text-center" width="23%">online-dsn</th>
              <th class="text-center" width="23%">test-dsn</th>
              <th class="text-center" width="18%">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in configs">
              <td class="text-center">{{index+1}}</td>
              <td class="text-center">{{item.name||'-'}}</td>
              <td class="text-center">{{item['online-dsn']||'--'}}</td>
              <td class="text-center">{{item['test-dsn']||'--'}}</td>
              <td class="text-center">
                <span class="glyphicon glyphicon-pencil ponter" v-on:click="soarEdit(index)"></span>
                <span v-show="index!=0||configs.length>1" class="ml-5 glyphicon glyphicon-trash ponter" v-on:click="soarDel(index)"></span>
                <span class="ml-5 glyphicon glyphicon-copy ponter"v-on:click="soarCopy(index)" title="点击复制"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <!--soar 配置列表-->
      </div>
      <!--soar 配置页面-->
      <!--soar 配置编辑弹窗-->
      <div id="soar-edit-tpl" style="display:none;padding:20px;">
        <div style="overflow-x:hidden;">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label">配置名称</label>
              <div class="col-md-7">
                <input type="text" class="form-control" v-model="itemConfig['name']">
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">线上环境数据库配置(online-dsn)</label>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="user:password@host:port/database" v-model="itemConfig['online-dsn']">
              </div>
              <div class="col-md-1"><span v-on:click="testConnect(itemConfig['online-dsn'])" class="glyphicon glyphicon-refresh ponter" style="line-height:32px;" title="点击测试数据库链接"></span></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">测试环境数据库配置(test-dsn)</label>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="user:password@host:port/database" v-model="itemConfig['test-dsn']">
              </div>
              <div class="col-md-1"><span v-on:click="testConnect(itemConfig['test-dsn'])" class="glyphicon glyphicon-refresh ponter" style="line-height:32px;" title="点击测试数据库链接"></span></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">允许线上环境当作测试环境
                <br><span style="margin-top:10px;display:inline-block">(allow-online-as-test)</span></label>
              <div class="col-md-7">
                <label class="radio-inline">
                  <input type="radio" name="allow-online-as-test" value="" v-model="itemConfig['allow-online-as-test']"> 默认
                </label>
                <label class="radio-inline">
                  <input type="radio" name="allow-online-as-test" value="true" v-model="itemConfig['allow-online-as-test']"> 是
                </label>
                <label class="radio-inline">
                  <input type="radio" name="allow-online-as-test" value="false" v-model="itemConfig['allow-online-as-test']"> 否
                </label>
                <br><span style="color:#666;margin-top:10px;display:inline-block">注：线上环境和测试环境配置相同时， 该参数为“是”，才会返回explain信息</span>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">黑名单列表(blacklist)</label>
              <div class="col-md-7">
                <textarea rows="3" class="form-control" placeholder="blacklist中的SQL不会被评审，可以是指纹，也可以是正则， 一行一个" v-model="itemConfig['blacklist']"></textarea>
              </div>
              <div class="col-md-1">
                <span v-on:click="showHelp('blacklist')" class="glyphicon glyphicon-question-sign ponter" style="color:#f0ad4e"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">是否开启数据采样(sampling)</label>
              <div class="col-md-7">
                <label class="radio-inline">
                  <input type="radio" name="only-syntax-check" value="" v-model="itemConfig['sampling']"> 默认
                </label>
                <label class="radio-inline">
                  <input type="radio" name="only-syntax-check" value="true" v-model="itemConfig['sampling']"> 是
                </label>
                <label class="radio-inline">
                  <input type="radio" name="only-syntax-check" value="false" v-model="itemConfig['sampling']"> 否
                </label>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">允许的数据库引擎(table-allow-engines)</label>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="默认为 InnoDB">
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                <span v-on:click="soarSave()" class="btn btn-primary">提&nbsp;&nbsp;&nbsp;&nbsp;交</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--soar 配置编辑弹窗-->
      <!--soar 配置导出弹窗-->
      <div id="soar-export-tpl" style="display:none;padding:20px;">
        <textarea v-model="exportConfigJson" style="width:100%;height:320px;"></textarea>
      </div>
      <!--soar 配置导出弹窗-->
      <!--soar 配置导入弹窗-->
      <div id="soar-import-tpl" style="display:none;padding:20px;height:260px;">
        <div style="overflow-x:hidden;padding-left:16px;">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label">导入类型</label>
              <div class="col-md-7">
                <label class="radio-inline">
                  <input type="radio" name="type" value="1" v-model="importConfig.type"> 文本
                </label>
                <label class="radio-inline">
                  <input type="radio" name="type" value="2" v-model="importConfig.type"> 文件
                </label>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">是否覆盖原有配置</label>
              <div class="col-md-7">
                <label class="radio-inline">
                  <input type="radio" name="cover" value="0" v-model="importConfig.cover"> 否
                </label>
                <label class="radio-inline">
                  <input type="radio" name="cover" value="1" v-model="importConfig.cover"> 是
                </label>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div v-if="importConfig.type==1" class="form-group">
              <label class="col-md-4 control-label">导入内容</label>
                <div class="col-md-7">
                  <textarea rows="3" class="form-control" v-model="importConfig.content"></textarea>
                </div>
              <div class="col-md-1"></div>
            </div>
            <div v-if="importConfig.type==2" class="form-group">
              <label class="col-md-4 control-label">导入内容</label>
              <div class="col-md-7">
                <input type="file" class="form-control" id="import-file" style="padding-top:4px;">
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                <span v-on:click="importSave()" class="btn btn-primary">提&nbsp;&nbsp;&nbsp;&nbsp;交</span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--soar 配置导入弹窗-->
    </div>
    <script>
      (function (){
        // 设置soar 配置默认选项
        var defaultConfig = {
          'allow-online-as-test' : '',
          'sampling':''
        };
        //请求的 api
        var api = {
         soar: '/soar-api',
         testConnect: '/test-connect',
         downLoad : '/soar-download'
        };
        
        //获取 soar 配置项列表， 如果没有则初始化一条默认，配置
        function getSoarConfig(){
          var configs = localStorage.getItem('soar_config');
          try {
            if (configs) configs = JSON.parse(configs);
          } catch (e) {
            configs = null;
          }
          if (!$.isArray(configs) || configs.length == 0) {
            configs = []; 
            configs.push({
              'name': '默认配置',
              'online-dsn':'',
              'test-dsn':''
            });
            localStorage.setItem('soar_config', JSON.stringify(configs));
          }
          return configs;
        }
        
        function postDownLoad(data){
          var form = $("<form>");   //定义一个form表单
          form.attr('style','display:none');   //下面为在form表单中添加查询参数
          form.attr('target','');
          form.attr('method','post');
          form.attr('action',api.downLoad);
          for(var i in data){
            var inputDom = $('<input>'); 
            inputDom.attr('type','hidden'); 
            inputDom.attr('name',i); 
            inputDom.attr('value',data[i]);
            $('body').append(form);  //将表单放置在web中
            form.append(inputDom);
          }
          form.submit();
          form.remove();
        }
        
        //存储soar配置项列表
        function saveSoarConfig(configs){
          localStorage.setItem('soar_config', JSON.stringify(configs));
        }
              
        var vueApp = new Vue({
          el:'#vue-app',
          data:{
            router:'',
            configs: [],
            curId: 0,
            itemConfig:{},
            editId:-1,
            exportConfigJson:'',
            importConfig:{},
            openExport:false,
            showExport:false
          },
          watch: {
            curId:function(newId) {
              localStorage.setItem('config_select', newId);
            }
          },
          computed:{
            editorHeight:function(){
              var textHeght = 500 + ($(window).height() -657);
              if (textHeght < 400) textHeght = 400;
              if (textHeght > 600) textHeght = 600;
              return textHeght + 'px';
            }
          },
          methods:{
            request:function(config, success, error){
              var loadIndex;
              if (config.isLoading) loadIndex = layer.load(2, {offset:'30%'});
              $.ajax({
                url: config.url,
                data: config.data || {},
                method:config.method || 'POST',   
                success: function (res) {
                  if (config.isLoading) layer.close(loadIndex);
                  var json;
                  try {
                    json = JSON.parse(res);
                  } catch (e) {
                    json = {status:true, result:res};
                  }
                  if (json.status) {
                    if($.isFunction(success)) success(json);
                  } else {
                    layer.msg(json.result, {time:2000});
                  }
                },
                error: function () {
                  if (config.isLoading) layer.close(loadIndex);
                  if($.isFunction(error)) error();
                }
              });
            },
            //根据sql分析选项， 进行补贴的展示
            sqlAnalysis:function(type){
              var query = window.sqlEditor.getValue();
              if (!query) {
                layer.msg('sql 不能为空', {time:1000});
                return false;
              }
              var data = {};
              //默认当做html展示
              var curFormat = function (res){
                $('#soar-content').html(res);
              };
              //markdown转html展示
              var markdownFormat = function (res){
                $('#soar-content').html('<div style="transform: scale(0.8);transform-origin: 0 0 0;margin-bottom:-20%;">'+converter.makeHtml(res)+'</div>');
              };
              //用富文本框展示sql 并且高亮显示
              var textEditFormat = function(res){
                $('#soar-content').html('<textarea id="sql-show"></textarea></span>');
                var editor = CodeMirror.fromTextArea($('#soar-content #sql-show')[0], {
                  mode: 'text/x-mysql',
                  styleActiveLine:true,
                  lineWrapping:true,
                  readOnly:true
                });
                editor.setValue(res.trim());
              };
              switch(type){
                case 1://sql 分析评估
                  curFormat = markdownFormat;
                  break;
                case 2://sql 梅花
                  curFormat = textEditFormat;
                  data['report-type'] = 'pretty';
                  break;
                case 3://压缩
                  curFormat = textEditFormat;
                  data['report-type'] = 'compress';
                  break;
                case 4://指纹
                  curFormat = textEditFormat;
                  data['report-type'] = 'fingerprint';
                  break;
                case 5://语法检查
                  curFormat = textEditFormat;
                  data['only-syntax-check'] = 'true';
                  break;
                case 6: //alret 合并
                  curFormat = textEditFormat;
                  data['report-type'] = 'rewrite';
                  data['rewrite-rules'] = 'mergealter';
                  break;
              }
              data.query = query;
              var config = this.configs[this.curId] || this.configs[0] || {};
              for(var i in config){
                if(i == 'name') continue;
                if (config[i]) data[i] = config[i];
              }
              //提交请求， 根据具体api酌情修改
              this.request({url:api.soar, data:data, isLoading:true}, function(json){
                curFormat(json.result);
                vueApp.showExport = type == 1;
              });
            },
            testConnect:function(dsn){
              this.request({url:api.testConnect,data:{dsn:dsn}, isLoading:true}, function(json){
                layer.msg(json.result, {time:1000});
              });
            },
            //html导出
            exportSoar:function(type){
              var query = window.sqlEditor.getValue();
              var map = {1:'html', 2:'markdown',3:'json'};
              var data = {};
              data['report-type'] = map[type] || '';
              var config = this.configs[this.curId] || this.configs[0] || {};
              for(var i in config){
                if(i == 'name') continue;
                if (config[i]) data[i] = config[i];
              }
              data.query = query;
              postDownLoad(data);
            },
            //配置导出
            exportConfig:function (){
              this.exportConfigJson = JSON.stringify(getSoarConfig());
              layer.open({
                type: 1,
                title: 'soar 配置导出',
                area : ['600px'],
                content: $('#soar-export-tpl'),
                cancel:function (){
                  $('#soar-export-tpl').hide();
                }
              });
            },
            //配置导入
            showImportConfig:function(){
              this.importConfig = {type:'1',cover:'0'};
              layer.open({
                type: 1,
                title: 'soar 配置导入',
                area : ['600px'],
                content: $('#soar-import-tpl'),
                cancel:function (){
                  $('#soar-import-tpl').hide();
                }
              });
            },
            //配置导入保存
            importSave:function(){
              var content = '';
              //文本导入
              if (this.importConfig.type == 1) {
                content = this.importConfig.content;
                handleContent();
              } else { //文件的导入
                if (!window.FileReader){
                  layer.msg('浏览器不支持文件导入，请使用文本导入',{time:1000});
                  return;
                }
                var reader = new FileReader();
                var file = $('#import-file')[0].files[0];
                if (!file) {
                  layer.msg('文件内容不能为空',{time:1000});
                  return;
                }
                //读取文件内容
                var reader = new FileReader();
                reader.readAsText(file);
                reader.onload = function(){
                    content = this.result;
                    handleContent();
                };
              }
              //导入配置
              function handleContent(){
                var arr = [];
                try {
                   arr = JSON.parse(content);
                   if (!$.isArray(arr)) throw new Error('');
                } catch (e) {
                  layer.msg('导入内容格式不正确',{time:1000});
                  return;
                }
                var configs = getSoarConfig();
                if (vueApp.importConfig.cover==1) configs = [];
                arr.forEach(function (item){
                  configs.push(item);
                });
                saveSoarConfig(configs);
                vueApp.configs = configs;
                layer.msg('导入成功',{time:1000});
              }
            },
            //清除结果展示
            clear:function(){
              $('#soar-content').html('<span class="placegolder">soar结果展示 ...</span>');
              this.showExport = false;
            },
            //初始化配置
            initConfig:function (){
              for(var i in defaultConfig){
                if (!this.itemConfig[i]) this.itemConfig[i] = defaultConfig[i];
              }
            },
            //soar 编辑弹窗打开
            soarEdit:function (id){
              this.itemConfig = {};
              if (id >= 0) this.itemConfig = $.extend(this.itemConfig, this.configs[id]);
              this.initConfig();
              layer.open({
                type: 1,
                title: 'soar 配置编辑',
                area : ['1000px'],
                content: $('#soar-edit-tpl'),
                cancel:function (){
                  $('#soar-edit-tpl').hide();
                }
              });
              this.editId = id;
            },
            //soar 配置编辑帮助提示弹窗打开
            showHelp:function(key){
              switch(key) {
                case 'blacklist':
                  layer.open({
                    'content' :'# 这是一个黑名单例子\n## 不评审常见的SET， SHOW， SELECT CONST等完美请求\n^set.*\n^show.*\n^select \?$\n^\/\*.*\*\/$\n^drop.*\n^lock.*\n^unlock.*'.replace(/\n/g,'<br>')
                  });
                  break
              }
            },
            //保存配置
            soarSave:function(){
              if (!this.itemConfig['name']) {
                layer.msg('配置名称不能为空', {time:1000});
                return false;
              }
              for(var i=0;i<this.configs.length;i++){
                var item = this.configs[i];
                if (item.name==this.itemConfig['name'] && this.editId != i) {
                  layer.msg('配置名称不能重复', {time:1000});
                  return false;
                }
              }
              if (this.editId < 0) {
                this.configs.push(this.itemConfig);
              } else {
                Vue.set(this.configs, this.editId, $.extend({}, this.itemConfig));
              }
              saveSoarConfig(this.configs);
              layer.msg('保存成功', {time:1000});
              return true;
            },
            //删除配置
            soarDel:function(id){
              layer.confirm('确定删除？', function(index){
                vueApp.configs.splice(id, 1);
                saveSoarConfig(vueApp.configs);
                layer.close(index);
              });
            },
            //复制配置项
            soarCopy:function(id){
              layer.prompt({title:'请输入模板名称'},function(value, index){
                vueApp.editId = -1;
                vueApp.itemConfig = {};
                vueApp.itemConfig = $.extend(vueApp.itemConfig, vueApp.configs[id]);
                vueApp.initConfig();
                vueApp.itemConfig.name = value;
                if (vueApp.soarSave()) layer.close(index);
              });
            }
          }
        });
        
        //初始化sql编辑器
        var converter = new showdown.Converter();
        converter.setOption('tables', true);
        window.sqlEditor = CodeMirror.fromTextArea(document.getElementById("sql-edit"), {
          mode: 'text/x-mysql',
          styleActiveLine:true,
          lineWrapping:true
        });
        var routes = {
          //sql 分享页面
          '/analysis': function (){
            vueApp.router = '/analysis';
            vueApp.configs = getSoarConfig();
            var curId = Number(localStorage.getItem('config_select'))||0;
            vueApp.curId = (curId >= vueApp.configs.length || curId < 0) ? 0 : curId;
          },
          //soar 配置分享页面
          '/config': function (){
            vueApp.router = '/config';
            vueApp.configs = getSoarConfig();
            var curId = Number(localStorage.getItem('config_select'))||0;
            vueApp.curId = (curId >= vueApp.configs.length || curId < 0) ? 0 : curId;
          }
        };
        var router = Router(routes);
        router.init('analysis');
      })();
    </script>
  </body>
</html>
