<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>soar web</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/page.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.all.js"></script>
    <script type="text/javascript" src="./js/vue.min.js"></script>
    <script type="text/javascript" src="./js/codemirror.js"></script>
    <script type="text/javascript" src="./js/sql.js"></script>
    <script type="text/javascript" src="./js/showdown.js"></script>
    <script type="text/javascript" src="./js/placeholder.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/codemirror.css"/>
    <style>
      .w-100{width: 100px !important;}
      .w-150{width: 150px !important;}
      .w-200{width: 200px !important;}
      .ml-20{margin-left:20px !important;}
      .mt-20{margin-top:20px !important;}
      .mb-20{margin-bottom:20px !important;}
      .CodeMirror{height:100%; padding:10px;}
      .show-content{height:100%;border:1px solid #ddd;}
      .placegolder,pre.CodeMirror-placeholder{color: #999;}
      .placegolder{font-size:16px; font-family: monospace;display:inline-block;padding:4px 0px;}
      
      .show-markdown h1, .show-markdown h2, .show-markdown h3{margin-top:0px !important;margin-bottom:0px !important;}
      .show-markdown h2{font-size:20px !important;margin:30px 0px 20px 0px !important;padding-bottom: 5px;border-bottom: 1px solid #919699;}
      .show-markdown h1{font-size:24px !important;margin:20px 0px !important;}
      .show-markdown h3{font-size:16px !important;margin:16px 0px !important;}
      .show-markdown h4{font-size:14px !important;}
      .show-markdown p{margin-bottom: 10px !important;}
      
      .show-markdown h1,.show-markdown h2,.show-markdown h3,.show-markdown h4,.show-markdown h5,.show-markdown h6 {
        font-family: "Myriad Pro","Lucida Grande",Lucida,Verdana,sans-serif;
      }
      
      .show-markdown{overflow-x:auto;}
      .show-markdown table td, .show-markdown table th {font-size: 12px;border-bottom: 1px solid #919699;border-right: 1px solid #919699;}
      .show-markdown table{border-top: 1px solid #919699;border-left: 1px solid #919699;border-spacing: 0;}
      .show-markdown table th {padding: 4px 8px;background: #E2E2E2;}
      .show-markdown table td {padding: 8px;vertical-align: top;}
      
      .ponter{cursor: pointer}
      [v-cloak]{display:none;}
    </style>
  </head>
  <body>
    <div style="width:1200px;margin:auto;" id="vue-app" v-cloak>
      <header style="margin:20px 0px;">
        <ul class="nav nav-tabs">
          <li role="presentation" v-bind:class="{active:router=='/analysis'}"><a href="#/analysis">sql分析</a></li>
          <li role="presentation" v-bind:class="{active:router=='/config'}"><a href="#/config">soar配置</a></li>
        </ul>
      </header>
      <div class="content" v-show="router=='/analysis'">
        <div class=" form-inline">
          <div class="form-group">
            <label>配置模板：</label>
            <select class="form-control w-200" v-model="curConfig">
              <option v-for="(item, index) in configs" v-bind:value="index">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group ml-20">
            <span class="btn btn-primary" v-on:click="sqlAnalysis(1)">SQL评估</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(2)">美化</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(3)">压缩</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(4)">指纹</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(5)">语法检查</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(6)">Alter合并</span>
            <span class="btn btn-primary" v-on:click="sqlAnalysis(7)">EXP解析</span>
            <span class="btn btn-danger ml-20" v-on:click="clear()">清空</span>
          </div>
        </div>
        <div class="mt-20 container" style="height:600px;margin-left:0px;margin-right:0px;">
          <div class="row" style="height:100%;">
            <div class="col-md-5" style="padding-left:0px;height:100%;">
              <div class="show-content"><textarea placeholder="输入SQL语句 ..." id="sql-edit" style="display:none"></textarea></div>
            </div>
            <div class="col-md-7" style="padding-right:0px;height:100%;">
              <div class="show-content show-markdown" style="height:100%; padding:10px;" id="soar-content"><span class="placegolder">soar结果展示 ...</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content" v-show="router=='/config'">
        <div class=" form-inline mb-20">
          <div class="form-group">
            <span class="btn btn-primary" v-on:click="soarEdit(-1)">添加配置</span>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center" width="18%">编号</th>
              <th class="text-center" width="18%">模板名称</th>
              <th class="text-center" width="23%">online-dsn</th>
              <th class="text-center" width="23%">test-dsn</th>
              <th class="text-center" width="18%">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in configs">
              <td class="text-center">{{index+1}}</td>
              <td class="text-center">{{item.name||'-'}}</td>
              <td class="text-center">{{item.onlineDsn||'--'}}</td>
              <td class="text-center">{{item.testDsn||'--'}}</td>
              <td class="text-center">
                <span class="glyphicon glyphicon-pencil ponter"></span>
                <span v-show="index!=0" class="glyphicon glyphicon-trash ponter" v-on:click="soarEdit(index)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="soar-edit-tpl" style="display:none">
        <div class="mt-20" style="overflow-x:hidden;padding-left:16px;">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-md-4 control-label">线上环境数据库配置(online-dsn)</label>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="user:password@host:port/database" v-model="itemConfig['online-dsn']">
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">测试环境数据库配置(test-dsn)</label>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="user:password@host:port/database" v-model="itemConfig['test-dsn']">
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">允许线上环境当作测试环境(allow-online-as-test)</label>
              <div class="col-md-7">
                <label class="radio-inline">
                  <input type="radio" name="allow-online-as-test" value="" v-model="itemConfig['allow-online-as-test']"> 默认
                </label>
                <label class="radio-inline">
                  <input type="radio" name="allow-online-as-test" value="true" v-model="itemConfig['allow-online-as-test']"> 是
                </label>
                <label class="radio-inline">
                  <input type="radio" name="allow-online-as-test" value="false" v-model="itemConfig['allow-online-as-test']"> 否
                </label>
              </div>
              <div class="col-md-1"></div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">黑名单列表(blacklist)</label>
              <div class="col-md-7">
                <textarea class="form-control" placeholder="blacklist中的SQL不会被评审，可以是指纹，也可以是正则" v-model="itemConfig['blacklist']"></textarea>
              </div>
              <div class="col-md-1">
                <span v-on:click="showHelp('blacklist')" class="glyphicon glyphicon-question-sign"></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label">是否开启数据采样(sampling)</label>
              <div class="col-md-7">
                <label class="radio-inline">
                  <input type="radio" name="only-syntax-check" value="" v-model="itemConfig['sampling']"> 默认
                </label>
                <label class="radio-inline">
                  <input type="radio" name="only-syntax-check" value="true" v-model="itemConfig['sampling']"> 是
                </label>
                <label class="radio-inline">
                  <input type="radio" name="only-syntax-check" value="false" v-model="itemConfig['sampling']"> 否
                </label>
              </div>
              <div class="col-md-1"></div>
            </div>
            
            <div class="form-group">
              <label class="col-md-4 control-label">允许的数据库引擎(table-allow-engines)</label>
              <div class="col-md-7">
                <input type="text" class="form-control" placeholder="默认为 InnoDB">
              </div>
              <div class="col-md-1"></div>
            </div>
            
            <div class="form-group">
              <div class="col-md-offset-4 col-md-8">
                <span v-on:click="soarSave()" class="btn btn-primary">提&nbsp;&nbsp;&nbsp;&nbsp;交</span>
              </div>
            </div>
            
          </form>
        </div>
      <div>
    </div>
    <script>
      (function (){
        var defaultConfig = {
          'allow-online-as-test' : '',
          'only-syntax-check' : ''
        };
        function getSoarConfig(){
          var configs = localStorage.getItem('soar_config');
          try {
            if (configs) configs = JSON.parse(configs);
          } catch (e) {
            configs = null;
          }
          if (!$.isArray(configs) || configs.length == 0) {
            configs = []; 
            configs.push({
              name:'默认模板',
              onlineDsn:'',
              testDsn:''
            });
            localStorage.setItem('soar_config', JSON.stringify(configs));
          }
          return configs;
        }
        
        var vueApp = new Vue({
          el:'#vue-app',
          data:{
            router:'',
            configs: [],
            curConfig: 0,
            itemConfig:{}
          },
          methods:{
            sqlAnalysis:function(type){
              $.post('soar-res.txt', {sql:window.sqlEditor.getValue()}, function(res){
                $('#soar-content').html(converter.makeHtml(res));
              });
            },
            clear:function(){
              $('#soar-content').html('<span class="placegolder">soar结果展示 ...</span>');
            },
            soarEdit:function (){
              initConfig();
              layer.open({
                type: 1,
                title: 'soar 配置编辑',
                area : ['1000px' , '600px'],
                content: $('#soar-edit-tpl'),
                cancel:function (){
                  $('#soar-edit-tpl').hide();
                }
              });
            },
            showHelp:function(key){
              switch(key) {
                case 'blacklist':
                  layer.open();
                  break
              }
            },
            soarSave:function(){
              console.log(vueApp.itemConfig['allow-online-as-test']);
            }
          }
        });
        vueApp.soarEdit(-1);
        
        function initConfig(){
          for(var i in defaultConfig){
            if (!vueApp[i]) vueApp.itemConfig[i] = defaultConfig[i];
          }
        };
        
        var converter = new showdown.Converter();
        converter.setOption('tables', true);
        window.sqlEditor = CodeMirror.fromTextArea(document.getElementById("sql-edit"), {
          mode: 'text/x-mysql',
          styleActiveLine:true
        });
        
        if (window.location.pathname != '' || window.location.pathname != '/') page.base(window.location.pathname + '#');
        page('/analysis', function (ctx){
          vueApp.router = '/analysis';
          vueApp.configs = getSoarConfig();
        });
        page('/config', function (){
          vueApp.router = '/config';
          vueApp.configs = getSoarConfig();
        });
        page('*', function (ctx){
            page.redirect('/analysis');
        });
        page.start();
      })();
    </script>
  </body>
</html>
